# ----------------------
# Flask
# ----------------------
flask
Flask-SQLALchemy
psycopg2
Flask-WTF
# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn